::after,
::before {
  box-sizing: border-box;
  margin: 0%;
}
html {
  background-color: aqua;
  font-size: 20px;
  overflow-x: hidden;
}
body {
  margin: 0%;
  background-color: aliceblue;
  width: 100vw;
}
nav {
  display: flex;
  min-height: 6em;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
nav ul li {
  list-style: none;
  margin-right: 2em;
  cursor: pointer;
}
nav ul li:hover {
  text-decoration: underline;
  text-decoration-color: brown;
  text-decoration-thickness: 8px;
  text-decoration-style: solid;
}
header {
  background-color: coral;
  color: white;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding-left: 3em;
  padding-right: 3em;
}
.divider {
  margin-right: 1em;
  width: 3px;
  background-color: aliceblue;
  height: 20px;
}
section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contentside {
  width: 40%;
}
footer {
  background-color: black;
  color: aliceblue;
}
footer section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nodec {
  text-decoration: none;
}
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.carcont {
  width: 40%;
}
