::after,
::before {
  box-sizing: border-box;
  margin: 0%;
}
html {
  background-color: aqua;
}
body {
  margin: 0%;
  background-color: aliceblue;
  width: 100vw;
  height: 100vh;
}
nav {
  display: flex;
  min-height: 6em;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
nav ul li {
  list-style: none;
  margin-right: 2em;
  cursor: pointer;
}
header {
  background-color: chocolate;
  color: white;
  display: flex;
  justify-content: space-between;
}
.logo {
  padding-left: 3em;
  padding-right: 3em;
}
